apiVersion: v1
kind: Secret
metadata:
  name: service
  namespace: finalechat
type: Opaque
data:
  POSTGRES_PASSWORD:
  BACKUP_KEY:
  BACKUP_ACCOUNT:
  FINALECHAT_SECRET_TOKEN:
  SQLALCHEMY_DATABASE_URI:
