{
  "openapi": "3.1.0",
  "info": {
    "title": "Finalechat API",
    "version": "1.0.0",
    "summary": "The app where agents message the user.",
    "description": "Threads of messages and questions between agent sessions and one user, with long-polling, server-sent events and Web Push. Human-readable reference: https://www.finalechat.com/api/ . Agent quick start: https://www.finalechat.com/AGENTS.md .",
    "contact": {
      "url": "https://www.finalechat.com"
    }
  },
  "servers": [
    {
      "url": "https://www.finalechat.com/api/v1"
    },
    {
      "url": "https://api.finalechat.com/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "App sign-in flow. Agents use bearer tokens instead."
    },
    {
      "name": "Me",
      "description": "Identity, counts and settings."
    },
    {
      "name": "Tokens",
      "description": "API tokens for agents; managed from the app."
    },
    {
      "name": "Threads",
      "description": "One thread per agent session."
    },
    {
      "name": "Messages",
      "description": "Markdown or text messages in a thread."
    },
    {
      "name": "Attachments",
      "description": "Files and screenshots carried by messages; bytes in object storage, metadata in the API."
    },
    {
      "name": "Questions",
      "description": "Multiple-choice and free-form questions the user answers on their phone."
    },
    {
      "name": "Events",
      "description": "Real-time stream."
    },
    {
      "name": "Push",
      "description": "Web Push device registration for the app."
    },
    {
      "name": "Artifacts"
    },
    {
      "name": "Integration settings"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "sessionCookie": []
    }
  ],
  "paths": {
    "/auth/status": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Registration mode and current session",
        "security": [],
        "responses": {
          "200": {
            "description": "Status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthStatus"
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create an account (app only, same-origin, rate limited)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created; session cookie set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign in (app only, same-origin, rate limited)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in; session cookie set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign out",
        "security": [],
        "responses": {
          "200": {
            "description": "Session cleared.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Current user, counts and settings",
        "responses": {
          "200": {
            "description": "Identity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Me"
        ],
        "summary": "Change display name or password (session only)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfilePatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/settings": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Read settings",
        "responses": {
          "200": {
            "description": "Settings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "settings": {
                      "$ref": "#/components/schemas/Settings"
                    }
                  },
                  "required": [
                    "settings"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Me"
        ],
        "summary": "Update settings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingsPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Full settings after the change.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "settings": {
                      "$ref": "#/components/schemas/Settings"
                    }
                  },
                  "required": [
                    "settings"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/counts": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Badge counts",
        "responses": {
          "200": {
            "description": "Counts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "counts": {
                      "$ref": "#/components/schemas/Counts"
                    }
                  },
                  "required": [
                    "counts"
                  ]
                },
                "example": {
                  "counts": {
                    "pending_questions": 1,
                    "unread_threads": 3
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Server-sent events stream",
        "description": "text/event-stream of `ready`, `thread.created`, `thread.updated`, `thread.deleted, thread.activity ({at, thread_id, activity}; no thread, no counts), question.dismissed, ping ({at} every 20 seconds)`, `message.created, message.deleted ({at, thread, message_id})`, `question.created`, `question.answered`, `question.cancelled`, `question.expired`, `settings.updated` and `reconnect` events. Each data payload carries the full current objects (`thread`, `message`, `question`, `settings`) plus `counts` and `at`. A `: ping` comment is sent every 20 seconds.",
        "responses": {
          "200": {
            "description": "Event stream.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "event: ready\ndata: {\"at\":\"2026-09-07T05:39:05.945123Z\",\"counts\":{\"pending_questions\":0,\"unread_threads\":3}}\n\nevent: message.created\ndata: {\"at\":\"…\",\"thread\":{…},\"message\":{…},\"counts\":{…}}\n\n"
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tokens": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "summary": "List active API tokens",
        "responses": {
          "200": {
            "description": "Tokens, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/APIToken"
                      }
                    }
                  },
                  "required": [
                    "tokens"
                  ]
                },
                "example": {
                  "tokens": [
                    {
                      "id": "01a07a5a-be60-72d1-b7f0-8eb7c08f48b1",
                      "name": "laptop",
                      "prefix": "fc_TlaRtPqY",
                      "created_at": "2026-09-07T05:32:42.464521Z",
                      "last_used_at": "2026-09-07T05:38:23.601635Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Create an API token (session only)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 120,
                    "default": "Agent token"
                  }
                }
              },
              "example": {
                "name": "laptop"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The token record and, once only, its secret.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "$ref": "#/components/schemas/APIToken"
                    },
                    "secret": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token",
                    "secret"
                  ]
                },
                "example": {
                  "secret": "fc_TlaRtPqYwguWNmAtY9FXJLTEJQdiuQp7GYIvMWun",
                  "token": {
                    "id": "01a07a5a-be60-72d1-b7f0-8eb7c08f48b1",
                    "name": "laptop",
                    "prefix": "fc_TlaRtPqY",
                    "created_at": "2026-09-07T05:32:42.464521Z",
                    "last_used_at": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tokens/{id}": {
      "delete": {
        "tags": [
          "Tokens"
        ],
        "summary": "Revoke an API token (session only)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID."
            },
            "description": "Token id."
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/threads": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "List threads by latest activity",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "List archived threads instead of active ones."
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive substring match on title, agent and preview."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "`next_cursor` from the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of threads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threads": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Thread"
                      }
                    },
                    "next_cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "threads"
                  ]
                },
                "example": {
                  "threads": [
                    {
                      "id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                      "external_id": "claude-code:7f3a9c2e",
                      "title": "finalechat",
                      "agent": "Claude Code",
                      "meta": {
                        "cwd": "/home/eric/finalechat"
                      },
                      "created_at": "2026-09-07T05:38:55.019126Z",
                      "updated_at": "2026-09-07T05:38:55.043799Z",
                      "last_activity_at": "2026-09-07T05:38:55.043799Z",
                      "last_read_at": "2026-09-07T05:38:55.019126Z",
                      "archived_at": null,
                      "muted": false,
                      "preview": "Staging looks good. Promote to production?",
                      "preview_sender": "question",
                      "unread_count": 1,
                      "pending_questions": 1,
                      "activity": null
                    }
                  ],
                  "next_cursor": "MTc4ODc1OTUzNTA0Mzc5OXwwMWEwN2E2MC02ZGFiLTc4MGEtYmY0ZC0yMGVmMTVjMGQ3ZDc"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Threads"
        ],
        "summary": "Create a thread, or fetch it by external_id",
        "description": "Idempotent when `external_id` is set: an existing thread is returned with 200 and `created: false`; blank `title`/`agent` are filled in and `meta` is merged.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThreadCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    },
                    "created": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "thread",
                    "created"
                  ]
                },
                "example": {
                  "created": true,
                  "thread": {
                    "id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "external_id": "claude-code:7f3a9c2e",
                    "title": "finalechat",
                    "agent": "Claude Code",
                    "meta": {
                      "cwd": "/home/eric/finalechat"
                    },
                    "created_at": "2026-09-07T05:38:55.019126Z",
                    "updated_at": "2026-09-07T05:38:55.043799Z",
                    "last_activity_at": "2026-09-07T05:38:55.043799Z",
                    "last_read_at": "2026-09-07T05:38:55.019126Z",
                    "archived_at": null,
                    "muted": false,
                    "preview": "Staging looks good. Promote to production?",
                    "preview_sender": "question",
                    "unread_count": 1,
                    "pending_questions": 1,
                    "activity": null
                  }
                }
              }
            }
          },
          "200": {
            "description": "Already existed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    },
                    "created": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "thread",
                    "created"
                  ]
                },
                "example": {
                  "created": false,
                  "thread": {
                    "id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "external_id": "claude-code:7f3a9c2e",
                    "title": "finalechat",
                    "agent": "Claude Code",
                    "meta": {
                      "cwd": "/home/eric/finalechat"
                    },
                    "created_at": "2026-09-07T05:38:55.019126Z",
                    "updated_at": "2026-09-07T05:38:55.043799Z",
                    "last_activity_at": "2026-09-07T05:38:55.043799Z",
                    "last_read_at": "2026-09-07T05:38:55.019126Z",
                    "archived_at": null,
                    "muted": false,
                    "preview": "Staging looks good. Promote to production?",
                    "preview_sender": "question",
                    "unread_count": 1,
                    "pending_questions": 1,
                    "activity": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/threads/{ref}": {
      "get": {
        "tags": [
          "Threads"
        ],
        "summary": "Get a thread",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Thread UUID or `ext:<external_id>`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7"
              },
              "external": {
                "value": "ext:claude-code:7f3a9c2e"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The thread.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    }
                  },
                  "required": [
                    "thread"
                  ]
                },
                "example": {
                  "thread": {
                    "id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "external_id": "claude-code:7f3a9c2e",
                    "title": "finalechat",
                    "agent": "Claude Code",
                    "meta": {
                      "cwd": "/home/eric/finalechat"
                    },
                    "created_at": "2026-09-07T05:38:55.019126Z",
                    "updated_at": "2026-09-07T05:38:55.043799Z",
                    "last_activity_at": "2026-09-07T05:38:55.043799Z",
                    "last_read_at": "2026-09-07T05:38:55.019126Z",
                    "archived_at": null,
                    "muted": false,
                    "preview": "Staging looks good. Promote to production?",
                    "preview_sender": "question",
                    "unread_count": 1,
                    "pending_questions": 1,
                    "activity": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Threads"
        ],
        "summary": "Update title, agent, archived, muted or meta",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Thread UUID or `ext:<external_id>`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7"
              },
              "external": {
                "value": "ext:claude-code:7f3a9c2e"
              }
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThreadPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The thread.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    }
                  },
                  "required": [
                    "thread"
                  ]
                },
                "example": {
                  "thread": {
                    "id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "external_id": "claude-code:7f3a9c2e",
                    "title": "finalechat",
                    "agent": "Claude Code",
                    "meta": {
                      "cwd": "/home/eric/finalechat"
                    },
                    "created_at": "2026-09-07T05:38:55.019126Z",
                    "updated_at": "2026-09-07T05:38:55.043799Z",
                    "last_activity_at": "2026-09-07T05:38:55.043799Z",
                    "last_read_at": "2026-09-07T05:38:55.019126Z",
                    "archived_at": null,
                    "muted": false,
                    "preview": "Staging looks good. Promote to production?",
                    "preview_sender": "question",
                    "unread_count": 1,
                    "pending_questions": 1,
                    "activity": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Threads"
        ],
        "summary": "Delete a thread and everything in it",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Thread UUID or `ext:<external_id>`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7"
              },
              "external": {
                "value": "ext:claude-code:7f3a9c2e"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/threads/{ref}/read": {
      "post": {
        "tags": [
          "Threads"
        ],
        "summary": "Mark the thread read",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Thread UUID or `ext:<external_id>`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7"
              },
              "external": {
                "value": "ext:claude-code:7f3a9c2e"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The thread.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    }
                  },
                  "required": [
                    "thread"
                  ]
                },
                "example": {
                  "thread": {
                    "id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "external_id": "claude-code:7f3a9c2e",
                    "title": "finalechat",
                    "agent": "Claude Code",
                    "meta": {
                      "cwd": "/home/eric/finalechat"
                    },
                    "created_at": "2026-09-07T05:38:55.019126Z",
                    "updated_at": "2026-09-07T05:38:55.043799Z",
                    "last_activity_at": "2026-09-07T05:38:55.043799Z",
                    "last_read_at": "2026-09-07T05:38:55.019126Z",
                    "archived_at": null,
                    "muted": false,
                    "preview": "Staging looks good. Promote to production?",
                    "preview_sender": "question",
                    "unread_count": 1,
                    "pending_questions": 1,
                    "activity": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/threads/{ref}/activity": {
      "post": {
        "tags": [
          "Threads"
        ],
        "summary": "Set the agent's status line (never creates a thread)",
        "description": "What the agent is doing right now, shown in the app as a typing indicator with a timer. Lapses after ttl_seconds unless set again and is dropped when the agent posts a message or question without its own activity field. Never notifies, does not bump last_activity_at, and returns 404 for an unknown thread. Emits thread.activity. PUT is accepted as an alias.",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Thread UUID or `ext:<external_id>`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7"
              },
              "external": {
                "value": "ext:claude-code:7f3a9c2e"
              }
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The thread; applied is false when the write was ignored (stale seq or an unchanged repeat).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    },
                    "applied": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "thread"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (see Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Threads"
        ],
        "summary": "Clear the agent's status line",
        "description": "Drops the status now. Emits thread.activity when there was one. Never creates a thread.",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Thread UUID or `ext:<external_id>`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7"
              },
              "external": {
                "value": "ext:claude-code:7f3a9c2e"
              }
            }
          },
          {
            "name": "seq",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Ordering for concurrent writers: status writes with a lower seq than this clear are ignored afterwards. Use the same clock as the writes (nanosecond timestamps)."
          }
        ],
        "responses": {
          "200": {
            "description": "The thread; `thread.activity` is the new status or null.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    }
                  },
                  "required": [
                    "thread"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/threads/{ref}/messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "List messages, or wait for new ones",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Thread UUID or `ext:<external_id>`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7"
              },
              "external": {
                "value": "ext:claude-code:7f3a9c2e"
              }
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID."
            },
            "description": "Return messages newer than this id (ascending). Required with wait."
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID."
            },
            "description": "Return messages older than this id (ascending)."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "sender",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "agent",
                "user",
                "system"
              ]
            }
          },
          {
            "name": "wait",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 600
            },
            "description": "Seconds to hold the request open for a message newer than `after`. Clamped to 600."
          },
          {
            "name": "after_time",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return messages created after this instant (ascending); used with wait when there is no message id to anchor on. Take it from a previous response's waited_from."
          }
        ],
        "responses": {
          "200": {
            "description": "Messages in ascending order. `has_more` reports older messages (or newer ones beyond limit when using after). `timed_out` is true when a wait elapsed with nothing new.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "thread_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "UUID."
                    },
                    "timed_out": {
                      "type": "boolean"
                    },
                    "waited_from": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Present on anchorless waits: the instant the server started watching, by its own clock. Pass it back as after_time."
                    },
                    "anchor_unknown": {
                      "type": "boolean",
                      "description": "Present and true when after named a message the thread does not hold; the page then started from the thread's first message."
                    }
                  },
                  "required": [
                    "messages",
                    "has_more",
                    "thread_id"
                  ]
                },
                "example": {
                  "has_more": false,
                  "thread_id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                  "messages": [
                    {
                      "id": "01a07a60-6db9-784b-bd24-7ba3d7d3dfa0",
                      "thread_id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                      "sender": "agent",
                      "body": "Deployed **v1.2.0** to staging.\n\n- 42 tests passed\n- bundle 118 KB",
                      "format": "markdown",
                      "importance": "important",
                      "meta": {},
                      "created_at": "2026-09-07T05:38:55.033453Z",
                      "attachments": []
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Post a message (creates a missing ext: thread)",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Thread UUID or `ext:<external_id>`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7"
              },
              "external": {
                "value": "ext:claude-code:7f3a9c2e"
              }
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Same as the client_key body field."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageCreateRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/MessageCreateForm"
              },
              "encoding": {
                "file": {
                  "contentType": "*/*"
                }
              }
            }
          },
          "description": "JSON, or multipart/form-data to upload and attach files in the same request."
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    },
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    },
                    "created": {
                      "type": "boolean",
                      "description": "False when an idempotency key matched an earlier post (then the status is 200)."
                    }
                  },
                  "required": [
                    "message",
                    "thread"
                  ]
                },
                "example": {
                  "message": {
                    "id": "01a07a60-6db9-784b-bd24-7ba3d7d3dfa0",
                    "thread_id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "sender": "agent",
                    "body": "Deployed **v1.2.0** to staging.\n\n- 42 tests passed\n- bundle 118 KB",
                    "format": "markdown",
                    "importance": "important",
                    "meta": {},
                    "created_at": "2026-09-07T05:38:55.033453Z",
                    "attachments": []
                  },
                  "thread": {
                    "id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "external_id": "claude-code:7f3a9c2e",
                    "title": "finalechat",
                    "agent": "Claude Code",
                    "meta": {
                      "cwd": "/home/eric/finalechat"
                    },
                    "created_at": "2026-09-07T05:38:55.019126Z",
                    "updated_at": "2026-09-07T05:38:55.043799Z",
                    "last_activity_at": "2026-09-07T05:38:55.043799Z",
                    "last_read_at": "2026-09-07T05:38:55.019126Z",
                    "archived_at": null,
                    "muted": false,
                    "preview": "Staging looks good. Promote to production?",
                    "preview_sender": "question",
                    "unread_count": 1,
                    "pending_questions": 1,
                    "activity": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Body too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Object storage failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Attachments are not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "An earlier post with the same idempotency key; the original is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    },
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    },
                    "created": {
                      "type": "boolean",
                      "description": "False when an idempotency key matched an earlier post (then the status is 200)."
                    },
                    "applied": {
                      "type": "boolean",
                      "description": "On an idempotent replay: whether the activity carried by the request was applied."
                    }
                  },
                  "required": [
                    "message",
                    "thread"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (see Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/threads/{ref}/questions": {
      "get": {
        "tags": [
          "Questions"
        ],
        "summary": "Questions in a thread, oldest first",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Thread UUID or `ext:<external_id>`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7"
              },
              "external": {
                "value": "ext:claude-code:7f3a9c2e"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Up to 500 questions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "questions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Question"
                      }
                    }
                  },
                  "required": [
                    "questions"
                  ]
                },
                "example": {
                  "questions": [
                    {
                      "id": "01a07a60-6dc3-7cc4-ae8c-f32504d5a4b4",
                      "thread_id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                      "prompt": "Staging looks good. Promote to production?",
                      "options": [
                        {
                          "label": "Ship it",
                          "description": "Promote the same image"
                        },
                        {
                          "label": "Hold",
                          "description": "Wait for me to look"
                        }
                      ],
                      "allow_freeform": true,
                      "multi_select": false,
                      "status": "pending",
                      "answer": null,
                      "meta": {},
                      "created_at": "2026-09-07T05:38:55.043799Z",
                      "answered_at": null,
                      "expires_at": "2026-09-07T06:38:55.043382Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Ask a question (creates a missing ext: thread); optionally wait for the answer",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Thread UUID or `ext:<external_id>`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7"
              },
              "external": {
                "value": "ext:claude-code:7f3a9c2e"
              }
            }
          },
          {
            "name": "wait",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 600
            },
            "description": "Seconds to hold the request open for the answer; also accepted as the `wait` body field. Clamped to 600."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Same as the client_key body field."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. Status is 201 whether or not the wait produced an answer; check `question.status`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "question": {
                      "$ref": "#/components/schemas/Question"
                    },
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    },
                    "created": {
                      "type": "boolean",
                      "description": "False when an idempotency key matched an earlier post (then the status is 200)."
                    }
                  },
                  "required": [
                    "question",
                    "thread"
                  ]
                },
                "example": {
                  "question": {
                    "id": "01a07a60-6dc3-7cc4-ae8c-f32504d5a4b4",
                    "thread_id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "prompt": "Staging looks good. Promote to production?",
                    "options": [
                      {
                        "label": "Ship it",
                        "description": "Promote the same image"
                      },
                      {
                        "label": "Hold",
                        "description": "Wait for me to look"
                      }
                    ],
                    "allow_freeform": true,
                    "multi_select": false,
                    "status": "answered",
                    "answer": {
                      "selected": [
                        "Ship it"
                      ],
                      "text": ""
                    },
                    "meta": {},
                    "created_at": "2026-09-07T05:38:55.043799Z",
                    "answered_at": "2026-09-07T05:41:12.100442Z",
                    "expires_at": "2026-09-07T06:38:55.043382Z"
                  },
                  "thread": {
                    "id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "external_id": "claude-code:7f3a9c2e",
                    "title": "finalechat",
                    "agent": "Claude Code",
                    "meta": {
                      "cwd": "/home/eric/finalechat"
                    },
                    "created_at": "2026-09-07T05:38:55.019126Z",
                    "updated_at": "2026-09-07T05:38:55.043799Z",
                    "last_activity_at": "2026-09-07T05:38:55.043799Z",
                    "last_read_at": "2026-09-07T05:38:55.019126Z",
                    "archived_at": null,
                    "muted": false,
                    "preview": "Staging looks good. Promote to production?",
                    "preview_sender": "question",
                    "unread_count": 1,
                    "pending_questions": 1,
                    "activity": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "An earlier post with the same idempotency key; the original is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "question": {
                      "$ref": "#/components/schemas/Question"
                    },
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    },
                    "created": {
                      "type": "boolean",
                      "description": "False when an idempotency key matched an earlier post (then the status is 200)."
                    }
                  },
                  "required": [
                    "question",
                    "thread"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (see Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/messages/{id}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get a message",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID."
            },
            "description": "Message id."
          }
        ],
        "responses": {
          "200": {
            "description": "The message.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "required": [
                    "message"
                  ]
                },
                "example": {
                  "message": {
                    "id": "01a07a60-6db9-784b-bd24-7ba3d7d3dfa0",
                    "thread_id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "sender": "agent",
                    "body": "Deployed **v1.2.0** to staging.\n\n- 42 tests passed\n- bundle 118 KB",
                    "format": "markdown",
                    "importance": "important",
                    "meta": {},
                    "created_at": "2026-09-07T05:38:55.033453Z",
                    "attachments": []
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Messages"
        ],
        "summary": "Delete a message and its attachments",
        "description": "Removes the message for good, repairs the thread preview, and emits message.deleted. The recovery path for output that should never have been posted.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID."
            },
            "description": "Message id."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    }
                  },
                  "required": [
                    "ok",
                    "thread"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/questions": {
      "get": {
        "tags": [
          "Questions"
        ],
        "summary": "Questions across threads, newest first",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "answered",
                "cancelled",
                "expired",
                "dismissed"
              ]
            }
          },
          {
            "name": "thread_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Thread UUID or ext:<external_id>."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "attention",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "true leaves out questions in archived or muted threads (the app's needs-you view). Agents listing their own questions should omit it."
          }
        ],
        "responses": {
          "200": {
            "description": "Questions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "questions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Question"
                      }
                    }
                  },
                  "required": [
                    "questions"
                  ]
                },
                "example": {
                  "questions": [
                    {
                      "id": "01a07a60-6dc3-7cc4-ae8c-f32504d5a4b4",
                      "thread_id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                      "prompt": "Staging looks good. Promote to production?",
                      "options": [
                        {
                          "label": "Ship it",
                          "description": "Promote the same image"
                        },
                        {
                          "label": "Hold",
                          "description": "Wait for me to look"
                        }
                      ],
                      "allow_freeform": true,
                      "multi_select": false,
                      "status": "pending",
                      "answer": null,
                      "meta": {},
                      "created_at": "2026-09-07T05:38:55.043799Z",
                      "answered_at": null,
                      "expires_at": "2026-09-07T06:38:55.043382Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/questions/{id}": {
      "get": {
        "tags": [
          "Questions"
        ],
        "summary": "Get a question; optionally wait while it is pending",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID."
            },
            "description": "Question id."
          },
          {
            "name": "wait",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 600
            },
            "description": "Seconds to hold the request open while the question is pending. Clamped to 600."
          }
        ],
        "responses": {
          "200": {
            "description": "The question in its current state.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "question": {
                      "$ref": "#/components/schemas/Question"
                    }
                  },
                  "required": [
                    "question"
                  ]
                },
                "example": {
                  "question": {
                    "id": "01a07a60-6dc3-7cc4-ae8c-f32504d5a4b4",
                    "thread_id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "prompt": "Staging looks good. Promote to production?",
                    "options": [
                      {
                        "label": "Ship it",
                        "description": "Promote the same image"
                      },
                      {
                        "label": "Hold",
                        "description": "Wait for me to look"
                      }
                    ],
                    "allow_freeform": true,
                    "multi_select": false,
                    "status": "answered",
                    "answer": {
                      "selected": [
                        "Ship it"
                      ],
                      "text": ""
                    },
                    "meta": {},
                    "created_at": "2026-09-07T05:38:55.043799Z",
                    "answered_at": "2026-09-07T05:41:12.100442Z",
                    "expires_at": "2026-09-07T06:38:55.043382Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/questions/{id}/answer": {
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Answer a pending question",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID."
            },
            "description": "Question id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Answered. Also appends a user message recording the choice and marks the thread read.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "question": {
                      "$ref": "#/components/schemas/Question"
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    },
                    "thread": {
                      "$ref": "#/components/schemas/Thread"
                    }
                  },
                  "required": [
                    "question",
                    "message",
                    "thread"
                  ]
                },
                "example": {
                  "question": {
                    "id": "01a07a60-6dc3-7cc4-ae8c-f32504d5a4b4",
                    "thread_id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "prompt": "Staging looks good. Promote to production?",
                    "options": [
                      {
                        "label": "Ship it",
                        "description": "Promote the same image"
                      },
                      {
                        "label": "Hold",
                        "description": "Wait for me to look"
                      }
                    ],
                    "allow_freeform": true,
                    "multi_select": false,
                    "status": "answered",
                    "answer": {
                      "selected": [
                        "Ship it"
                      ],
                      "text": ""
                    },
                    "meta": {},
                    "created_at": "2026-09-07T05:38:55.043799Z",
                    "answered_at": "2026-09-07T05:41:12.100442Z",
                    "expires_at": "2026-09-07T06:38:55.043382Z"
                  },
                  "message": {
                    "id": "01a07a60-a438-78f0-9a26-138cf1ecfa9d",
                    "thread_id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "sender": "user",
                    "body": "Ship it",
                    "format": "text",
                    "importance": "normal",
                    "meta": {
                      "kind": "answer",
                      "question_id": "01a07a60-6dc3-7cc4-ae8c-f32504d5a4b4"
                    },
                    "created_at": "2026-09-07T05:41:12.104547Z",
                    "attachments": []
                  },
                  "thread": {
                    "id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "external_id": "claude-code:7f3a9c2e",
                    "title": "finalechat",
                    "agent": "Claude Code",
                    "meta": {
                      "cwd": "/home/eric/finalechat"
                    },
                    "created_at": "2026-09-07T05:38:55.019126Z",
                    "updated_at": "2026-09-07T05:38:55.043799Z",
                    "last_activity_at": "2026-09-07T05:38:55.043799Z",
                    "last_read_at": "2026-09-07T05:38:55.019126Z",
                    "archived_at": null,
                    "muted": false,
                    "preview": "Staging looks good. Promote to production?",
                    "preview_sender": "question",
                    "unread_count": 1,
                    "pending_questions": 1,
                    "activity": null
                  }
                }
              }
            }
          },
          "409": {
            "description": "Question already answered, cancelled or expired (`already_resolved`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/questions/{id}/cancel": {
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Withdraw a pending question",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID."
            },
            "description": "Question id."
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "question": {
                      "$ref": "#/components/schemas/Question"
                    }
                  },
                  "required": [
                    "question"
                  ]
                },
                "example": {
                  "question": {
                    "id": "01a07a60-6dc3-7cc4-ae8c-f32504d5a4b4",
                    "thread_id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "prompt": "Staging looks good. Promote to production?",
                    "options": [
                      {
                        "label": "Ship it",
                        "description": "Promote the same image"
                      },
                      {
                        "label": "Hold",
                        "description": "Wait for me to look"
                      }
                    ],
                    "allow_freeform": true,
                    "multi_select": false,
                    "status": "cancelled",
                    "answer": null,
                    "meta": {},
                    "created_at": "2026-09-07T05:38:55.043799Z",
                    "answered_at": "2026-09-07T05:39:05.920678Z",
                    "expires_at": "2026-09-07T06:38:55.043382Z"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Question was not pending (`invalid_state`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/questions/{id}/dismiss": {
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Decline to answer (the app's counterpart of cancel)",
        "description": "The user declines; status becomes dismissed and the agent's wait returns. Emits question.dismissed.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID."
            },
            "description": "Question id."
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "question": {
                      "$ref": "#/components/schemas/Question"
                    }
                  },
                  "required": [
                    "question"
                  ]
                },
                "example": {
                  "question": {
                    "id": "01a07a60-6dc3-7cc4-ae8c-f32504d5a4b4",
                    "thread_id": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7",
                    "prompt": "Staging looks good. Promote to production?",
                    "options": [
                      {
                        "label": "Ship it",
                        "description": "Promote the same image"
                      },
                      {
                        "label": "Hold",
                        "description": "Wait for me to look"
                      }
                    ],
                    "allow_freeform": true,
                    "multi_select": false,
                    "status": "cancelled",
                    "answer": null,
                    "meta": {},
                    "created_at": "2026-09-07T05:38:55.043799Z",
                    "answered_at": "2026-09-07T05:39:05.920678Z",
                    "expires_at": "2026-09-07T06:38:55.043382Z"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Question was not pending (`invalid_state`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/push/vapid": {
      "get": {
        "tags": [
          "Push"
        ],
        "summary": "VAPID public key for PushManager.subscribe",
        "security": [],
        "responses": {
          "200": {
            "description": "Key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "public_key": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "enabled",
                    "public_key"
                  ]
                },
                "example": {
                  "enabled": true,
                  "public_key": "BMPSFmGze6P0EpseCRcLWAQWA3r06u0Yi-ZBIw6gCzH4eQXQWsdD9D3EMSJ5BIL5zulphA2jh1TUDtZMvlNfEK4"
                }
              }
            }
          }
        }
      }
    },
    "/push/subscriptions": {
      "get": {
        "tags": [
          "Push"
        ],
        "summary": "List this account's push subscriptions",
        "responses": {
          "200": {
            "description": "Subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PushSubscription"
                      }
                    }
                  },
                  "required": [
                    "subscriptions"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Push"
        ],
        "summary": "Register (or refresh) a browser push subscription",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PushSubscriptionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "subscription": {
                        "$ref": "#/components/schemas/PushSubscriptionRequest"
                      }
                    },
                    "required": [
                      "subscription"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Stored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscription": {
                      "$ref": "#/components/schemas/PushSubscription"
                    }
                  },
                  "required": [
                    "subscription"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Feature unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Push"
        ],
        "summary": "Remove a push subscription by endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "endpoint"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/push/test": {
      "post": {
        "tags": [
          "Push"
        ],
        "summary": "Send a test notification to every subscribed device",
        "responses": {
          "202": {
            "description": "Queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "devices": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "ok",
                    "devices"
                  ]
                },
                "example": {
                  "ok": true,
                  "devices": 1
                }
              }
            }
          },
          "409": {
            "description": "No subscribed devices (`no_subscriptions`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Feature unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/threads/{ref}/attachments": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "Upload files to attach to a later message",
        "description": "Creates a missing ext: thread on demand. Send multipart/form-data with one or more file parts (any field name; at most 8), or a raw body whose Content-Type is the file type with the filename in X-Filename or ?filename=. Images (png, jpeg, gif, webp) get dimensions and a JPEG thumbnail. Uploads not attached to a message within 24 hours are deleted.",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "Thread UUID or `ext:<external_id>`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "01a07a60-6dab-780a-bf4d-20ef15c0d7d7"
              },
              "external": {
                "value": "ext:claude-code:7f3a9c2e"
              }
            }
          },
          {
            "name": "filename",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filename for a raw-body upload (alternative to X-Filename)."
          },
          {
            "name": "X-Filename",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Filename for a raw-body upload."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
[...]
